@model MyBlog.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 jumbotron">
            <p class="alert text-success text-center">@ViewBag.Message</p>
            <h3 class="text-center">Profil Ayarlarım</h3>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {

                <div>
                    <label>Eski Şifre</label>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "")
                </div>

                <div>
                    <label>Yeni Şifre</label>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.NewPassword, "")
                </div>

                <div>
                    <label>Yeni Şifre Tekrar</label>
                    @Html.PasswordFor(m => m.ConNewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConNewPassword, "")
                </div>



                <div>
                    <button class="btn btn-info">Güncelle</button>
                </div>
            }
        </div>
    </div>
</div>
